{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ResuDev | DashBoard</title>
    <link rel="stylesheet" href="{% static 'scss/base/dashboard.css' %}" />
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <div class="main">
      <div class="top-profile">
        <img src="{{ user.avatar.url }}" alt="" class="profile-image" />
        <div class="details">
          <h1 class="full-name">{{ user.full_name }}</h1>
          <a href="{% url 'accounts:logout' %}">Logout</a>
        </div>
      </div>
      <hr>
      <div class="all-resumes">
        {% for resume in all_resumes %}
        <a class="resume" href="{% url 'base:resume_details' resume_id=resume.resume_id %}">
          <div class="profile">
            <img src="{{ user.avatar.url }}" alt="" class="profile-image" />
            <div class="details">
              <h1 class="full-name">{{ resume.user.full_name }}</h1>
              <h3 class="job-title">{{ resume.job_title }}</h3>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
