@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

$color-dark: #220c2d;
$color-orange: #e2914e;
$color-light-orange: #fbc99d;

body {
  margin: 0px;
  font-family: "Rubik";
}
.main {
  width: calc(100vw - 220px);
  padding: 8px 0px 0px 0px;
  .resume {
    display: flex;
    align-items: center;
    $width: calc(40vw - 30px);
    .edit {
      height: calc(100vh - 145px);
      width: $width;
      padding: 20px 50px;
      position: relative;
      .title {
        margin: 0px;
        margin-bottom: 5px;
      }
      .semi-title {
        margin: 0px;
      }
      form {
        .line,
        .buttons {
          width: $width;
          margin: 20px 0px;
          &.two {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .full-input {
            margin: 0px;
            textarea {
              width: $width; /* Set the width to the desired value */
              min-height: 200px; /* Define a minimum height */
              max-height: 400px;
              resize: vertical;
              padding: 8px 15px;
              border-radius: 5px;
              border: 1px solid black;
              box-sizing: border-box;
              font-family: "Handlee";
              letter-spacing: 0.6px;
              font-size: 15px;
            }
          }
          button {
            cursor: pointer;
          }
          .next,
          .back {
            border-radius: 30px;
            padding: 13px 18px;
            font-weight: 700;
            border: none;
          }
          .next {
            background-color: $color-orange;
          }
          .back{
            padding: 13px 28px;
            background-color: white;
            border: 1px solid rgb(155, 155, 155);
          }
        }
        .buttons {
          position: absolute;
          bottom: 0px;
        }
      }
    }
  }
}
